@charset "UTF-8"

div#interface {
    width: 900px;
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 10px 10px 10px 10px;	 
}
h1{
    font-family: Arial;
    font-size: 50pt;
    color: rgb(102, 5, 18);
    text-shadow: 2px 2px 2px rgb(201, 120, 120);
    text-align: center ;
}
h2{
    font-family: Arial;
    font-size: 30pt;
    text-align: center;
}
h3{
    font-family: Arial;
    font-size: 20pt;
    text-align: left;   
}
p{
    font-family: Arial;
    font-size: 20pt;
    text-align: justify ;
    margin-left: 50px;
    margin-right: 50px;
}
img{
    display: block;
    width: auto;
    height: auto; 
}
